header {
    margin: 30px 45px;
    display: flex;
    flex-direction: row;
}

header nav {
    display: flex;
}

header nav ul {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 10px 19px;
}

header nav img {
    display: inline-block;
    justify-content: end;
    flex-direction: row-reverse;

}